/* Style.css*/
Header{
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
}
header img{
    width: 50px;
    height: 50px;
}
header h3{
    margin-left: 10px;
    color: black;
    font-size: 22px;
}
header ul li{
    list-style: none;
    display: inline;
    margin-left: 15px;
    color: black;
    font-size: 17px;
}
body {
    color:black;
    margin: 0;
    font-family: "Sharp Grotesk", sans-serif;
    background-color: gray;

}
h1, h2, h3, h4, h5, h6 ,strong{
    font-family: "Circular", sans-serif;
}
.container {
    display: flex;
}
.box {
    flex: 1;
    height: 860px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    margin: 0px;
}
#box2 {
    flex: 1;
    background-color: rgb(85, 85, 85);
}
#box1 {
    flex: 2;
    background-color: black;
}