/* Style.css*/
Header{
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
}
header img{
    width: 50px;
    height: 50px;
}
header h3{
    margin-left: 10px;
    color: black;
    font-size: 22px;
}
header ul li{
    list-style: none;
    display: inline;
    margin-left: 15px;
    color: black;
    font-size: 17px;
}
body {
    background-color: gray;
    color:black;
    margin: 0;
    font-family: "Sharp Grotesk", sans-serif;
}
/* For headings */
h1, h2, h3, h4, h5, h6 ,strong{
    font-family: "Circular", sans-serif;
}

